
    <!-- header section ends-->
<form action="/cart">
    <div id="cart" class="w3-modal" style="display: none;">
        <div class="w3-modal-content w3-animate-top w3-card-4">
            <span onclick="document.getElementById('cart').style.display='none'"
                class=" w3-button  w3-xlarge w3-display-topright">×</span>
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
                
            </div>
            <div class="cart-items">
                {{#if session.cart.totalItems}}
                {{#each session.cart.items}}
                <div class="cart-row">
                    <div class="cart-item cart-column">
                        <img class="cart-item-image" src="/allFood/{{this.item.image}}" width="100" height="100">
                        <span class="cart-item-title">{{this.item.name}}</span>
                    </div>
                    <span class="cart-price cart-column">{{this.item.price}}</span>
                    <div class="cart-quantity cart-column">
                        <input class="cart-quantity-input" value="{{this.quantity}}"></input>
                    </div>
                </div>
                {{/each}}
                <div class="cart-total">
                    <strong class="cart-total-title">Total</strong>
                    <span class="cart-total-price">{{session.cart.totalPrice}}</span>
                </div>
            </div>
            {{/if}}
            <button class="btn btn-primary btn-purchase" type="submit">PROCEED</button>
        </div>
    </div>
    </div>
</form>
       

{{!-- <div id="item-box">
<div id="item-detail">
    <div id="detail-header">
        <span onclick="document.getElementById('item-box').style.display='none'" id="item-close">×</span>
        <h2 class=""><i class="fa fa-shopping-cart" id="detail-content"></i> ADD TO CART</h2>
    </div>
    <div id="item-flex" style="display: flex;">
        <img src="" id="item-img" alt="">
        <div id="item-detail-content">
            <div id="item-id" style="display: none;"></div>
            <div id="item-name">Tên món ăn: <span></span></div>
            <div id="item-type">Nhóm thực đơn: <span></span></div>
            <div id="item-price">Giá: <span></span></div>
            <div id="item-description">Mô tả: <span></span></div>
            <div id="item-quantity">Số lượng: <input id="quantity-input" type="number" value="1"></div>
            <div id="item-note">Ghi chú: <input type="text" placeholder="Ghi chú món ăn"></div>
            <button id="add-item-btn">
                <i class="fa fa-shopping-cart" id="detail-content"></i>
                <span id="total-price">0</span>
                VND
            </button>
        </div>
    </div>
</div>
</div> --}}

    <!-- search form  -->

    <form action="" id="search-form">
        <input type="search" placeholder="search here..." name="" id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <i class="fas fa-times" id="close"></i>
    </form>

    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="swiper-container home-slider">

            <div class="swiper-wrapper wrapper">

                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dish</span>
                        <h3>spicy noodles</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
                        <a href="#menu" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="images/home-img-1.png" alt="">
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dish</span>
                        <h3>fried chicken</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
                        <a href="#menu" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="images/home-img-2.png" alt="">
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dish</span>
                        <h3>hot pizza</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
                        <a href="#menu" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="images/home-img-3.png" alt="">
                    </div>
                </div>

            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>

        </div>

    </section>

    <!-- home section ends -->

    <!-- about section starts  -->

    <section class="about" id="about">

        <h3 class="sub-heading"> about us </h3>
        <h1 class="heading"> why choose us? </h1>

        <div class="row">

            <div class="image">
                <img src="images/about-img.png" alt="">
            </div>

            <div class="content">
                <h3>best food in the country</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, sequi corrupti corporis quaerat
                    voluptatem ipsam neque labore modi autem, saepe numquam quod reprehenderit rem? Tempora aut soluta
                    odio corporis nihil!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, nemo. Sit porro illo eos cumque
                    deleniti iste alias, eum natus.</p>
                <div class="icons-container">
                    <div class="icons">
                        <i class="fas fa-shipping-fast"></i>
                        <span>free delivery</span>
                    </div>
                    <div class="icons">
                        <i class="fas fa-dollar-sign"></i>
                        <span>easy payments</span>
                    </div>
                    <div class="icons">
                        <i class="fas fa-headset"></i>
                        <span>24/7 service</span>
                    </div>
                </div>
                <a href="#" class="btn">learn more</a>
            </div>

        </div>

    </section>

    <!-- about section ends -->

    <!-- dish section starts  -->

    <section class="menu" id="menu">

        <h1 class="heading"> <span> Menu restaurant </span> </h1>

        <ul class="controls">
            <li class="buttons button-active" data-filter="all">all</li>
            <li class="buttons" data-filter="breakfast">breakfast</li>
            <li class="buttons" data-filter="lunch">lunch</li>
            <li class="buttons" data-filter="dinner">dinner</li>
            <li class="buttons" data-filter="dessert">dessert</li>
            <li class="buttons" data-filter="juice">juice</li>

        </ul>
   
        <div class="image-container">
        {{#each rows}}
          {{#if_eq this.type  'breakfast'}}
            <div class="image breakfast">
                <div class="content shop-item">
                    <div id="{{this.id}}" style="display: none;">{{this.id}}</div>
                    <p class="shop-item-type" style="display: none;">{{this.type}}</p>
                    <p class="shop-item-description" style="display: none;">{{this.description}}</p>
                    <img class="shop-item-image"
                        src="allfood/{{this.image}}"
                        alt="">
                    <h3 class="shop-item-title" onclick="document.getElementById('item-box').style.display='block'">{{this.name}}</h3>
                    <p>{{this.description}}</p>
                    <div class="shop-item-details" style="margin-top: 1rem;">
                        <div class="">
                            <span class="shop-item-price price">{{this.price}}</span>
                            VND
                        </div>
                        <button onclick="window.location.href='item/{{this.id}}'" class="btn shop-item-button" type="button" style="margin-top: 0 !important; margin-bottom: 1rem;">Add To Cart</button>
                    </div>
                </div>
            </div>
        {{/if_eq}}
        {{#if_eq this.type 'lunch'}}
            <div class="image lunch">
                <div class="content shop-item">
                    <div id="{{this.id}}" style="display: none;">{{this.id}}</div>
                    <p class="shop-item-type" style="display: none;">{{this.type}}</p>
                    <p class="shop-item-description" style="display: none;">{{this.description}}</p>
                    <img class="shop-item-image" src="allfood/{{this.image}}" alt="">
                    <h3 class="shop-item-title" onclick="document.getElementById('item-box').style.display='block'">{{this.name}}</h3>
                    <p>{{this.description}}</p>
                    <div class="shop-item-details" style="margin-top: 1rem;">
                        <div class="">
                            <span class="shop-item-price price">{{this.price}}</span>
                            VND
                        </div>
                        <button onclick="window.location.href='item/{{this.id}}'" class="btn shop-item-button" type="button" style="margin-top: 0 !important; margin-bottom: 1rem;">Add To Cart</button>
                    </div>
                </div>
            </div>
        {{/if_eq}}
        {{#if_eq this.type 'dinner'}}
            <div class="image dinner">
                <div class="content shop-item">
                    <div id="{{this.id}}" style="display: none;">{{this.id}}</div>
                    <p class="shop-item-type" style="display: none;">{{this.type}}</p>
                    <p class="shop-item-description" style="display: none;">{{this.description}}</p>
                    <img class="shop-item-image" src="allfood/{{this.image}}" alt="">
                    <h3 class="shop-item-title" onclick="document.getElementById('item-box').style.display='block'">{{this.name}}</h3>
                    <p>{{this.description}}</p>
                    <div class="shop-item-details" style="margin-top: 1rem;">
                        <div class="">
                            <span class="shop-item-price price">{{this.price}}</span>
                            VND
                        </div>
                        <button onclick="window.location.href='item/{{this.id}}'"  class="btn shop-item-button" type="button" style="margin-top: 0 !important; margin-bottom: 1rem;">Add To Cart</button>
                    </div>
                </div>
            </div>
            {{/if_eq}}
        {{#if_eq this.type 'dessert'}}
            <div class="image dessert">
                <div class="content shop-item">
                    <div id="{{this.id}}" style="display: none;">{{this.id}}</div>
                    <p class="shop-item-type" style="display: none;">{{this.type}}</p>
                    <p class="shop-item-description" style="display: none;">{{this.description}}</p>
                    <img class="shop-item-image" src="allfood/{{this.image}}" alt="">
                    <h3 class="shop-item-title" onclick="document.getElementById('item-box').style.display='block'">{{this.name}}</h3>
                    <p>{{this.description}}</p>
                    <div class="shop-item-details" style="margin-top: 1rem;">
                        <div class="">
                            <span class="shop-item-price price">{{this.price}}</span>
                            VND
                        </div>
                        <button onclick="window.location.href='item/{{this.id}}'" class="btn shop-item-button" type="button" style="margin-top: 0 !important; margin-bottom: 1rem;">Add To Cart</button>
                    </div>
                </div>
            </div>
            {{/if_eq}}
        {{#if_eq this.type 'juice'}}
            <div class="image juice">
                <div class="content shop-item">
                    <div id="{{this.id}}" style="display: none;">{{this.id}}</div>
                    <p class="shop-item-type" style="display: none;">{{this.type}}</p>
                    <p class="shop-item-description" style="display: none;">{{this.description}}</p>
                    <img class="shop-item-image"
                        src="allfood/{{this.image}}"
                        alt="">
                    <h3 class="shop-item-title" onclick="document.getElementById('item-box').style.display='block'">{{this.name}}</h3>
                    <p>{{this.description}}</p>
                    <div class="shop-item-details" style="margin-top: 1rem;">
                        <div class="">
                            <span class="shop-item-price price">{{this.price}}</span>
                            VND
                        </div>
                        <button onclick="window.location.href='item/{{this.id}}'" class="btn shop-item-button" type="button" style="margin-top: 0 !important; margin-bottom: 1rem;">Add To Cart</button>
                    </div>
                </div>
            </div>
            {{/if_eq}}
        {{/each}}
        </div>
        <script> // add dau ngan cach tien
            var realPriceArr = document.getElementsByClassName('shop-item-price price');
            for (var i = 0; i < realPriceArr.length; i++) {
                realPriceArr[i].innerHTML = realPriceArr[i].innerHTML.replace('đ', '').replace('.', '').toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ".")
            }
        </script>
    </section>

    <!-- menu section ends -->

    <!-- review section starts  -->

    <section class="review" id="review">

        <h3 class="sub-heading"> customer's review </h3>
        <h1 class="heading"> what they say </h1>

        <div class="swiper-container review-slider">

            <div class="swiper-wrapper">
                {{#each results}}
                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="images/user.png" alt="">
                        <div class="user-info">
                            <h3>{{this.userName}}</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>{{this.feedback}}</p>
                </div>
                {{/each}}
             
            </div>

        </div>

    </section>

    <!-- review section ends -->

    <!-- newsletter section starts  -->

    <section class="newsletter">
        <div class="bg"> <img src="./images/letter.jpg" alt=""></div>
        <h1>newsletter</h1>
        <p>subscribe for latest updates</p>
        <form action="">
            <input type="email" placeholder="enter your email">
            <input type="submit" value="subscribe">
        </form>

    </section>

    <!-- newsletter section ends -->
    <!-- footer section starts  -->
    <style>
        #item-box {
            display: none;
            z-index: 1000000000000;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            box-sizing: border-box;
            background-color: rgba(255, 255, 255, 0.8);
        }

        #item-detail {
            position: relative;
            display: block;
            box-sizing: border-box;
            width: 60rem;
            background-color: rgba(123, 231, 231, 0.5);
            /* font-size: 15px; */
            /* line-height: 1.6; */
            padding: 2rem;
            padding-top: 1rem;
            margin: 0 auto;
            margin-top: 4rem;
            border-radius: 0.5rem;
        }

        #detail-header {
            font-size: 2.5rem;
        }

        #detail-header h2 {
            margin-top: 0;
        }

        .fa-shopping-cart {
            margin-right: 1rem;
        }

        #item-close {
            position: absolute;
            top: 0;
            right: 0;
            float: right;
            font-size: 2rem;
            width: 3rem;
            align-items: center;
            text-align: center;
        }

        #item-close:hover {
            cursor: pointer;
            background-color: red;
            border-radius: 0.5rem;
        }

        #detail-content {
            font-weight: 600;
        }

        #item-img {
            flex: 1 1 40%;
            width: 40%;
            height: 40%;
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 1px solid rgba(213, 213, 231, 1);
        }

        #item-detail-content {
            flex: 1 1 60%;
            padding-left: 2rem;
        }


        /* #item-id {} */

        #item-name {
            font-size: 20px;
            font-weight: 500;
        }

        #item-type {
            margin-top: 0.5rem;
        }

        #item-price {
            margin-top: 1rem;
        }

        #item-quantity {
            margin-top: 1rem;
        }

        #item-description {
            margin-top: 1rem;
        }

        #item-quantity input {
            width: 3rem;
            text-align: center;
        }

        #item-note {
            margin-top: 1rem;
        }

        #item-note input {
            width: 100%;
            box-sizing: border-box;
        }

        #add-item-btn {
            margin-top: 1rem;
            width: 100%;
            font-size: 20px;
        }

        .shop-item-title:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    </style>
    <script>
        if (document.readyState == 'loading') {
            document.addEventListener('DOMContentLoaded', ready)
        } else {
            ready()
        }

        function ready() {
            var input = document.getElementById('quantity-input')
            input.addEventListener('change', itemQuantityChanged)

            var detailBtns = document.getElementsByClassName('shop-item-title')
            for (var i = 0; i < detailBtns.length; i++) {
                var button = detailBtns[i]
                button.addEventListener('click', detailClicked)
            }
        }

        function itemQuantityChanged(event) {
            var input = event.target
            if (isNaN(input.value) || input.value <= 0) {
                input.value = 1
            }
            updateTotal()
        }

        function detailClicked(event) {
            var button = event.target
            var item = button.parentElement
            var title = item.getElementsByClassName('shop-item-title')[0].innerText
            var iType = item.getElementsByClassName('shop-item-type')[0].innerText
            var price = item.getElementsByClassName('shop-item-price')[0].innerText
            var description = item.getElementsByClassName('shop-item-description')[0].innerText
            var imageSrc = item.getElementsByClassName('shop-item-image')[0].src
            addItem(title, iType, description, price, imageSrc)
            {{!-- updateTotal() --}}
        }

        function addItem(title, itype, description, price, img) {
            var item = document.getElementById('item-detail')
            item.querySelector('#item-img').src = img;
            item.querySelector('#quantity-input').value = 1
            var itemName = item.querySelector('#item-name')
            itemName.querySelector('span').innerText = title;
            var itemType = item.querySelector('#item-type')
            itemType.querySelector('span').innerText = itype
            var itemPrice = item.querySelector('#item-price')
            itemPrice.querySelector('span').innerText = price
            var itemDescription = item.querySelector('#item-description')
            itemDescription.querySelector('span').innerText = description
            updateTotal()
        }
        function updateTotal() {
            console.log("update")
            var item = document.getElementById('item-detail')
            var itemPrice = item.querySelector('#item-price')
            var price = itemPrice.querySelector('span').innerText
            var quantity = item.querySelector('#quantity-input').value
            var total = price * quantity
            total = Math.round(total * 100) / 100
            item.querySelector('#total-price').innerText = total
        }
    </script>
  



