<div class="update-form">
    <h3>UPDATE FOOD</h3>
    <form method="post" action="/menu/update" enctype="multipart/form-data">
    {{#each rows}}
    <input type="hidden" value="{{this.id}}" name="id">
    <input type="hidden" value="{{this.image}}" name="imageOriginal">
    <div>
        Food-Name: 
        <input type="text" class="input-box" name="name" value="{{this.name}}">
    </div>
    </br>
    <div>
        Food-Description: 
        <input type="text" class="input-box" name="description"  value="{{this.description}}">
    </div>
    </br>
    <div>
        Food-Price: 
        <input type="text" class="input-box" name="price"  value="{{this.price}}">
    </div>
    </br>
    <div>
        <label for="type_food">Type: </label>
        <select name="type_food" id="foodtype-selection">
            <option id="pizza" value="pizza">Pizza</option>
            <option id="starter" value="starter">Starter</option>
            <option id="salad" value="salad">Salad</option>
            <option id="paster" value="pasta">Pasta</option>
            <option id="main" value="mains">Chef's Mains</option>
            <option id="steaks_ribs" value="steaks_ribs">Steaks & ribs</option>
            <option id="drinks" value="drinks">Drinks</option>
        </select>
        <script> 
            document.getElementById('{{this.type}}').selected = true;
        </script>
    </div>
    </br>
    <div>
        Food-Image:
        <br>
    <div class="img-input">
        <img src="/allfood/{{this.image}}" style="height: 160px; width: 160px;" id="output">
        </div>
        </br>
            <input type="file" name="image" onchange="loadFile(event) " > 
        </br></br>
    </div>
    <a>
        <input type="submit" class="mybtn submit-button" value="Save" />
    </a>
    <a href="/menu">
        <input type="button" class="mybtn cancel-button" value="Cancel" />
    </a>
    {{/each}}
    </form>
</div>
<style>
    .input-box {
        border: none;
        height: 30px;
        border-radius: 2px;
        width: 100%;
        padding-left: 10px;
    }
    .mybtn {
        width: 100%;
        margin-bottom: 10px;
        padding: 8px 8px;
        color: white;
        border: none;
        border-radius: 2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;
    }
    .submit-button {
        background-color: black;
    }
    .submit-button:hover {
        background-color: rgb(58, 53, 53);
    }
    .cancel-button {
        background-color: #da1c2e;
    }
    .cancel-button:hover {
        background-color: #dd4756;
    }
    .update-form h3 {
        text-align: center;
    }
    .update-form {
        color: white;
        width: 400px;
        height: 720px;
        background-color: #67997d;
        align-items: center;
        margin: 3rem auto;
        padding: 1rem;
        border-radius: 5px;
    }
    .img-input {
        text-align: center;
    }
    .update-form button{
        float: right;
        background-color: #72b18e;
        border: none;
        border-radius: 6px;
        color: white;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>


<script>
    var loadFile = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>