<div class="update-form">
    <h3>Update User</h3>
    <form method="POST" action="/manageUser/update">
    {{#each rows}}
    <input type="hidden" value="{{this.id}}" name="id">
    <div>
        Name: 
        <input type="text" class="input-box" name="userName" value="{{this.name}}">
    </div>
    </br>
    <div>
        Email: 
        <input type="text" class="input-box" name="userEmail"  value="{{this.email}}">
    </div>
    </br>
    <div>
        Password: 
        <input type="text" class="input-box" name="userPassword"  value="{{this.password}}">
    </div>
    </br>
    <div>
        Address: 
        <input type="text" class="input-box" name="userAddress"  value="{{this.address}}">
    </div>
    </br>
    <div>
        Phone Number: 
        <input type="text" class="input-box" name="userPhone"  value="{{this.phoneNumber}}">
    </div>
    </br>
    <div>
        Select Role: 
        </br>
    <input type="radio" class="choosen-input" id="Customer" name="userRole" value="Customer" checked>
        <label for="breakfast">Customer</label>
    <input type="radio" class="choosen-input" id="Clerk" name="userRole" value="Clerk">
        <label for="dinner">Clerk</label>
    <input type="radio" class="choosen-input" id="Chef" name="userRole" value="Chef">
        <label for="dessert">Chef</label>
    <input type="radio" class="choosen-input" id="Admin" name="userRole" value="Admin">
        <label for="juice">Admin</label>
    <script> 
        document.getElementById('{{this.role}}').checked = true;
    </script>
    </div>
    <a>
        <input type="submit" class="mybtn submit-button" value="Save" />
    </a>
    <a href="/manageUser">
        <input type="button" class="mybtn cancel-button" value="Cancel" />
    </a>
    {{/each}}
    </form>
</div>
<style>
    .choosen-input {
        margin: 20px 10px;
        vertical-align: middle;
    }
    .input-box {
        border: none;
        height: 30px;
        border-radius: 2px;
        width: 100%;
    }
    .mybtn {
        width: 100%;
        margin-bottom: 20px;
        padding: 8px 8px;
        color: white;
        border: none;
        border-radius: 2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;
    }
    .submit-button {
        background-color: black;
    }
    .submit-button:hover {
        background-color: rgb(58, 53, 53);
    }
    .cancel-button {
        background-color: #da1c2e;
    }
    .cancel-button:hover {
        background-color: #dd4756;
    }
    .update-form h3 {
        text-align: center;
    }
    .update-form {
        color: white;
        width: 400px;
        height: 660px;
        background-color: #67997d;
        align-items: center;
        margin: 3rem auto;
        padding: 1rem;
        border-radius: 5px;
    }
    .update-form img{
        float: right;
    }
    .update-form button{
        float: right;
        background-color: #72b18e;
        border: none;
        border-radius: 6px;
        color: white;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>


<script>
    var loadFile = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>