{{!-- <link rel="stylesheet" href="cart.css"> --}}
<form action="/cart">
<div id="cart" class="w3modal" style="display: none;">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <span onclick="document.getElementById('cart').style.display='none'"
            class=" w3-button  w3-xlarge w3-display-topright">×</span>
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items">
            {{#if session.cart.totalItems}}
            {{#each session.cart.items}}
            <div class="cart-row">
                <div class="cart-item cart-column">
                     <img class="cart-item-image" src="/allFood/{{this.item.image}}" width="100" height="100">
                     <span class="cart-item-title">{{this.item.name}}</span>
                </div>
                <span class="cart-price cart-column">{{this.item.price}}</span>
                <div class="cart-quantity cart-column">
                    <input class="cart-quantity-input" value="{{this.quantity}}"></input>  
                </div>
             </div>
            {{/each}}
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">{{session.cart.totalPrice}}</span>
            </div>
        </div>
        {{/if}}
        <button  class="btn btn-primary btn-purchase" type="submit">PROCEED</button>
    </div>
</div>
</div>
</form>

<div id="view-item-form" >
    <form action="{{this.id}}" method="post">
    {{#each rows}}
        <div style="display: flex; background-color: rgb(255, 255, 255); height:450px;border-radius: 8px; box-shadow: 0px 0px 8px rgb(136, 136, 136)">
            <div style="box-sizing: border-box; width: 500px; height: 300px; padding: 1.5rem 8rem;margin:auto;"><img style="width: 340px; height: 270px; " src="/allFood/{{this.image}}"></div>
            <div style="box-sizing: border-box; padding: 1.5rem 2rem 1.5rem 0; width: 410px;margin:auto;">
                <input name="id" value="{{this.id}}" type="hidden">
                <h2><span style="font-size: 15px;">Produce name: </span><span class="view-item-name">{{this.name}}</span></h2>
                <h3><span style="font-size: 15px;">Category: </span><span class="view-item-type">{{this.type}}</span></h3>
                <div style="height: 100px; width: 100%;"><p style="font-size: 15px;"><span>Detail: </span><span class="view-item-detail">{{this.description}}</span></p></div>
                <h3><span style="font-size: 15px;">Price: </span><span class="view-item-price">{{this.price}}đ</span> </h3>
                <script> // add dau ngan cach so tien
                    var realPrice = document.getElementsByClassName('view-item-price')[0].innerHTML;
                    document.getElementsByClassName('view-item-price')[0].innerHTML = realPrice.replace('đ', '').replace('.', '').toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ".") + 'đ'
                </script>
                <div style="font-size: 15px; margin-top: 1rem;">
                    <span style="font-size: 15px;">Quantity: </span> <input style="border: 1px solid green; width: 50px; height: 30px; font-size:1.7rem; text-align:center;"  name="quantity" type="number" value="1">
                </div>
                <button style="font-size: 17px; padding: 0.5rem 1rem; margin: 1rem 2rem 0 0; border-radius: 0.5rem"  type="submit"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                <a href="/#menu" style="font-size: 15px; border-bottom: 2px solid var(--green);">Back to Menu</a>
            </div>
        </div>
    {{/each}}
    </form>
</div>
<style>
    #view-item-form{
        margin-top: 67.5px;
        min-height: 360px;
        padding: 2rem 20%;
        background: url(https://pepperonis.com.vn/bg-all.aee0155aaac5cc9f712b.jpg) center center/contain repeat;
    }
    #view-item-form button:hover{
        cursor: pointer;
        background-color: var(--green);
        color: white;
        text-decoration: underline;
    }
    #view-item-form button {
        background-color: #192A56;
        color: white;
    }
    #view-item-form a:hover{
        font-size: 17px;
    }
    .view-item-name {
        color: #ff0000;
        font-weight: bold;
    }
    /*.view-item-type {
        font-weight: bold;
    }
    .view-item-detail {
        font-weight: bold;
    }*/
    .view-item-price {
        color: #27AE60;
        font-weight: bold;
    }
</style>
{{!-- <script>
    var loadFile = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };


    if (document.readyState == 'loading') {
            document.addEventListener('DOMContentLoaded', ready)
        } else {
            ready()
        }


        function ready() {
            var quantityInputs = document.getElementsByClassName('cart-quantity-input')
            
            for (var i = 0; i < quantityInputs.length; i++) {
                var input = quantityInputs[i]
                input.addEventListener('change', quantityyChanged)
            }
        }

        function quantityyChanged(event) {
            var input = event.target
            console.log(event.target.value)
            if (isNaN(input.value) || input.value <= 0) {
                input.value = 1
            }
            var id = input.parentElement.parentElement.getElementsByClassName('id')[0].value;
            window.location.replace(`http://localhost:3000/cart/update?id=${id}&quantity=${input.value}`);

        }
</script> --}}